# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace
.obsidian/plugins/cm-editor-syntax-highlight-obsidian/main.js
.obsidian/plugins/cm-editor-syntax-highlight-obsidian/manifest.json
.obsidian/plugins/cm-editor-syntax-highlight-obsidian/styles.css
.obsidian/plugins/code-block-copy/main.js
.obsidian/plugins/code-block-copy/manifest.json
.obsidian/plugins/code-block-copy/styles.css
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-minimal-settings/main.js
.obsidian/plugins/obsidian-minimal-settings/manifest.json
.obsidian/plugins/obsidian-minimal-settings/styles.css
.obsidian/plugins/open-vscode/main.js
.obsidian/plugins/open-vscode/manifest.json
.obsidian/themes/Minimal.css
